.portfolio-wrapper
    max-width: 960px;
    margin: 50px auto;
    li
        list-style: none;

ul
    &.top
        display: flex;
        justify-content: space-evenly;
        margin: 0 20px;
    &.center
        display: flex;
        justify-content: space-around;
        margin: -40px -60px;
    &.bottom
        display: flex;
        justify-content: space-evenly;
        margin: 0 20px;


.switch ul
    display: flex;
    li
        list-style: none;
        &:hover
            a
                background-color: #8b8784;
        a
            display: block;
            width: 6px;
            height: 6px;
            background-color: #ddd2c5;
            margin: 3px;
